saccoportal/Web References/NAVWS/Portals.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Portals" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Portals" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Portals" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="FnUpdatePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="idNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnUpdatePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="MiniStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="MiniStatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnFosaStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnFosaStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Fndividentstatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Fndividentstatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnLoanGuranteed">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="member_No" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLoanGuranteed_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnLoanRepaymentShedule">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="loan_No" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLoanRepaymentShedule_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnLoanGurantorsReport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="member_No" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLoanGurantorsReport_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnAtmApplications">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="account" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAtmApplications_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnAtmBlocking">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="account" type="string" />
            <element minOccurs="1" maxOccurs="1" name="reasonForBlock" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAtmBlocking_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnChangePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentPass" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPass" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberApply">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="first_Name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mid_Name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="last_Name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pO_Box" type="string" />
            <element minOccurs="1" maxOccurs="1" name="residence" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postal_Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="town" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phone_Number" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="iD_Number" type="string" />
            <element minOccurs="1" maxOccurs="1" name="branch_Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="branch_Name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="account_Number" type="string" />
            <element minOccurs="1" maxOccurs="1" name="gender" type="int" />
            <element minOccurs="1" maxOccurs="1" name="marital_Status" type="int" />
            <element minOccurs="1" maxOccurs="1" name="account_Category" type="int" />
            <element minOccurs="1" maxOccurs="1" name="application_Category" type="int" />
            <element minOccurs="1" maxOccurs="1" name="customer_Group" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employer_Name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="date_of_Birth" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberApply_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterKin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="full_Names" type="string" />
            <element minOccurs="1" maxOccurs="1" name="relationship" type="string" />
            <element minOccurs="1" maxOccurs="1" name="iD_Number" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phone_Contact" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="idnomemberapp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterKin_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnFreeShares">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="member_No" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnFreeShares_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnTotalRepaidGraph">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="mno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnTotalRepaidGraph_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCurrentShareGraph">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="mno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCurrentShareGraph_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="FnTotalDepositsGraph">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="mno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="year" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnTotalDepositsGraph_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="FnPassAsID">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="member_No" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnPassAsID_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnPassNotID">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="mno" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnPassNotID_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnDepositsStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="account_No" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDepositsStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnLoanStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="member_No" type="string" />
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLoanStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="FnUpdatePassword">
    <part name="parameters" element="tns:FnUpdatePassword" />
  </message>
  <message name="FnUpdatePassword_Result">
    <part name="parameters" element="tns:FnUpdatePassword_Result" />
  </message>
  <message name="MiniStatement">
    <part name="parameters" element="tns:MiniStatement" />
  </message>
  <message name="MiniStatement_Result">
    <part name="parameters" element="tns:MiniStatement_Result" />
  </message>
  <message name="FnMemberStatement">
    <part name="parameters" element="tns:FnMemberStatement" />
  </message>
  <message name="FnMemberStatement_Result">
    <part name="parameters" element="tns:FnMemberStatement_Result" />
  </message>
  <message name="FnFosaStatement">
    <part name="parameters" element="tns:FnFosaStatement" />
  </message>
  <message name="FnFosaStatement_Result">
    <part name="parameters" element="tns:FnFosaStatement_Result" />
  </message>
  <message name="Fndividentstatement">
    <part name="parameters" element="tns:Fndividentstatement" />
  </message>
  <message name="Fndividentstatement_Result">
    <part name="parameters" element="tns:Fndividentstatement_Result" />
  </message>
  <message name="FnLoanGuranteed">
    <part name="parameters" element="tns:FnLoanGuranteed" />
  </message>
  <message name="FnLoanGuranteed_Result">
    <part name="parameters" element="tns:FnLoanGuranteed_Result" />
  </message>
  <message name="FnLoanRepaymentShedule">
    <part name="parameters" element="tns:FnLoanRepaymentShedule" />
  </message>
  <message name="FnLoanRepaymentShedule_Result">
    <part name="parameters" element="tns:FnLoanRepaymentShedule_Result" />
  </message>
  <message name="FnLoanGurantorsReport">
    <part name="parameters" element="tns:FnLoanGurantorsReport" />
  </message>
  <message name="FnLoanGurantorsReport_Result">
    <part name="parameters" element="tns:FnLoanGurantorsReport_Result" />
  </message>
  <message name="FnAtmApplications">
    <part name="parameters" element="tns:FnAtmApplications" />
  </message>
  <message name="FnAtmApplications_Result">
    <part name="parameters" element="tns:FnAtmApplications_Result" />
  </message>
  <message name="FnAtmBlocking">
    <part name="parameters" element="tns:FnAtmBlocking" />
  </message>
  <message name="FnAtmBlocking_Result">
    <part name="parameters" element="tns:FnAtmBlocking_Result" />
  </message>
  <message name="FnChangePassword">
    <part name="parameters" element="tns:FnChangePassword" />
  </message>
  <message name="FnChangePassword_Result">
    <part name="parameters" element="tns:FnChangePassword_Result" />
  </message>
  <message name="FnMemberApply">
    <part name="parameters" element="tns:FnMemberApply" />
  </message>
  <message name="FnMemberApply_Result">
    <part name="parameters" element="tns:FnMemberApply_Result" />
  </message>
  <message name="FnRegisterKin">
    <part name="parameters" element="tns:FnRegisterKin" />
  </message>
  <message name="FnRegisterKin_Result">
    <part name="parameters" element="tns:FnRegisterKin_Result" />
  </message>
  <message name="FnFreeShares">
    <part name="parameters" element="tns:FnFreeShares" />
  </message>
  <message name="FnFreeShares_Result">
    <part name="parameters" element="tns:FnFreeShares_Result" />
  </message>
  <message name="FnTotalRepaidGraph">
    <part name="parameters" element="tns:FnTotalRepaidGraph" />
  </message>
  <message name="FnTotalRepaidGraph_Result">
    <part name="parameters" element="tns:FnTotalRepaidGraph_Result" />
  </message>
  <message name="FnCurrentShareGraph">
    <part name="parameters" element="tns:FnCurrentShareGraph" />
  </message>
  <message name="FnCurrentShareGraph_Result">
    <part name="parameters" element="tns:FnCurrentShareGraph_Result" />
  </message>
  <message name="FnTotalDepositsGraph">
    <part name="parameters" element="tns:FnTotalDepositsGraph" />
  </message>
  <message name="FnTotalDepositsGraph_Result">
    <part name="parameters" element="tns:FnTotalDepositsGraph_Result" />
  </message>
  <message name="FnPassAsID">
    <part name="parameters" element="tns:FnPassAsID" />
  </message>
  <message name="FnPassAsID_Result">
    <part name="parameters" element="tns:FnPassAsID_Result" />
  </message>
  <message name="FnPassNotID">
    <part name="parameters" element="tns:FnPassNotID" />
  </message>
  <message name="FnPassNotID_Result">
    <part name="parameters" element="tns:FnPassNotID_Result" />
  </message>
  <message name="FnDepositsStatement">
    <part name="parameters" element="tns:FnDepositsStatement" />
  </message>
  <message name="FnDepositsStatement_Result">
    <part name="parameters" element="tns:FnDepositsStatement_Result" />
  </message>
  <message name="FnLoanStatement">
    <part name="parameters" element="tns:FnLoanStatement" />
  </message>
  <message name="FnLoanStatement_Result">
    <part name="parameters" element="tns:FnLoanStatement_Result" />
  </message>
  <portType name="Portals_Port">
    <operation name="FnUpdatePassword">
      <input name="FnUpdatePassword" message="tns:FnUpdatePassword" />
      <output name="FnUpdatePassword_Result" message="tns:FnUpdatePassword_Result" />
    </operation>
    <operation name="MiniStatement">
      <input name="MiniStatement" message="tns:MiniStatement" />
      <output name="MiniStatement_Result" message="tns:MiniStatement_Result" />
    </operation>
    <operation name="FnMemberStatement">
      <input name="FnMemberStatement" message="tns:FnMemberStatement" />
      <output name="FnMemberStatement_Result" message="tns:FnMemberStatement_Result" />
    </operation>
    <operation name="FnFosaStatement">
      <input name="FnFosaStatement" message="tns:FnFosaStatement" />
      <output name="FnFosaStatement_Result" message="tns:FnFosaStatement_Result" />
    </operation>
    <operation name="Fndividentstatement">
      <input name="Fndividentstatement" message="tns:Fndividentstatement" />
      <output name="Fndividentstatement_Result" message="tns:Fndividentstatement_Result" />
    </operation>
    <operation name="FnLoanGuranteed">
      <input name="FnLoanGuranteed" message="tns:FnLoanGuranteed" />
      <output name="FnLoanGuranteed_Result" message="tns:FnLoanGuranteed_Result" />
    </operation>
    <operation name="FnLoanRepaymentShedule">
      <input name="FnLoanRepaymentShedule" message="tns:FnLoanRepaymentShedule" />
      <output name="FnLoanRepaymentShedule_Result" message="tns:FnLoanRepaymentShedule_Result" />
    </operation>
    <operation name="FnLoanGurantorsReport">
      <input name="FnLoanGurantorsReport" message="tns:FnLoanGurantorsReport" />
      <output name="FnLoanGurantorsReport_Result" message="tns:FnLoanGurantorsReport_Result" />
    </operation>
    <operation name="FnAtmApplications">
      <input name="FnAtmApplications" message="tns:FnAtmApplications" />
      <output name="FnAtmApplications_Result" message="tns:FnAtmApplications_Result" />
    </operation>
    <operation name="FnAtmBlocking">
      <input name="FnAtmBlocking" message="tns:FnAtmBlocking" />
      <output name="FnAtmBlocking_Result" message="tns:FnAtmBlocking_Result" />
    </operation>
    <operation name="FnChangePassword">
      <input name="FnChangePassword" message="tns:FnChangePassword" />
      <output name="FnChangePassword_Result" message="tns:FnChangePassword_Result" />
    </operation>
    <operation name="FnMemberApply">
      <input name="FnMemberApply" message="tns:FnMemberApply" />
      <output name="FnMemberApply_Result" message="tns:FnMemberApply_Result" />
    </operation>
    <operation name="FnRegisterKin">
      <input name="FnRegisterKin" message="tns:FnRegisterKin" />
      <output name="FnRegisterKin_Result" message="tns:FnRegisterKin_Result" />
    </operation>
    <operation name="FnFreeShares">
      <input name="FnFreeShares" message="tns:FnFreeShares" />
      <output name="FnFreeShares_Result" message="tns:FnFreeShares_Result" />
    </operation>
    <operation name="FnTotalRepaidGraph">
      <input name="FnTotalRepaidGraph" message="tns:FnTotalRepaidGraph" />
      <output name="FnTotalRepaidGraph_Result" message="tns:FnTotalRepaidGraph_Result" />
    </operation>
    <operation name="FnCurrentShareGraph">
      <input name="FnCurrentShareGraph" message="tns:FnCurrentShareGraph" />
      <output name="FnCurrentShareGraph_Result" message="tns:FnCurrentShareGraph_Result" />
    </operation>
    <operation name="FnTotalDepositsGraph">
      <input name="FnTotalDepositsGraph" message="tns:FnTotalDepositsGraph" />
      <output name="FnTotalDepositsGraph_Result" message="tns:FnTotalDepositsGraph_Result" />
    </operation>
    <operation name="FnPassAsID">
      <input name="FnPassAsID" message="tns:FnPassAsID" />
      <output name="FnPassAsID_Result" message="tns:FnPassAsID_Result" />
    </operation>
    <operation name="FnPassNotID">
      <input name="FnPassNotID" message="tns:FnPassNotID" />
      <output name="FnPassNotID_Result" message="tns:FnPassNotID_Result" />
    </operation>
    <operation name="FnDepositsStatement">
      <input name="FnDepositsStatement" message="tns:FnDepositsStatement" />
      <output name="FnDepositsStatement_Result" message="tns:FnDepositsStatement_Result" />
    </operation>
    <operation name="FnLoanStatement">
      <input name="FnLoanStatement" message="tns:FnLoanStatement" />
      <output name="FnLoanStatement_Result" message="tns:FnLoanStatement_Result" />
    </operation>
  </portType>
  <binding name="Portals_Binding" type="tns:Portals_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="FnUpdatePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnUpdatePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnUpdatePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnUpdatePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="MiniStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:MiniStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="MiniStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="MiniStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnMemberStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnMemberStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnMemberStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnMemberStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnFosaStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnFosaStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnFosaStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnFosaStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Fndividentstatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:Fndividentstatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Fndividentstatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Fndividentstatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLoanGuranteed">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnLoanGuranteed" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLoanGuranteed">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLoanGuranteed_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLoanRepaymentShedule">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnLoanRepaymentShedule" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLoanRepaymentShedule">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLoanRepaymentShedule_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLoanGurantorsReport">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnLoanGurantorsReport" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLoanGurantorsReport">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLoanGurantorsReport_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAtmApplications">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnAtmApplications" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAtmApplications">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAtmApplications_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAtmBlocking">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnAtmBlocking" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAtmBlocking">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAtmBlocking_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnChangePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnChangePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnChangePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnChangePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnMemberApply">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnMemberApply" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnMemberApply">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnMemberApply_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnRegisterKin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnRegisterKin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnRegisterKin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnRegisterKin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnFreeShares">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnFreeShares" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnFreeShares">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnFreeShares_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnTotalRepaidGraph">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnTotalRepaidGraph" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnTotalRepaidGraph">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnTotalRepaidGraph_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCurrentShareGraph">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnCurrentShareGraph" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCurrentShareGraph">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCurrentShareGraph_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnTotalDepositsGraph">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnTotalDepositsGraph" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnTotalDepositsGraph">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnTotalDepositsGraph_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnPassAsID">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnPassAsID" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnPassAsID">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnPassAsID_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnPassNotID">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnPassNotID" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnPassNotID">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnPassNotID_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnDepositsStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnDepositsStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnDepositsStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnDepositsStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLoanStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Portals:FnLoanStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLoanStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLoanStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Portals">
    <port name="Portals_Port" binding="tns:Portals_Binding">
      <address location="http://mutinda-19:7047/DynamicsNAV100/WS/BLUE%20EAGLE%20SACCO%20LTD/Codeunit/Portals" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>